body
{
	background-color:green;
}

p
{
	font-family:Arial;
	font-weight: bold;
}

h1
{
	font-family: harrington;
}

table, th, td
{
	border: 1px solid black;
}

/*visted link*/
a:visited {color: white;
}

/* mouse over link*/
a:hover {color: orange;
}

/* selected link*/
a:active {color:blue;
}
